.home_page {
  background-color: #2e2e31;
  height: 100vh;
  position: relative;

  .input_block {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 15vh;
    width: 100vw;

    .create_btn {
      margin-right: 36px;
      font-size: 28px;
      user-select: none;
      cursor: pointer;
      padding: 8px 16px;
      color: #fffbf1;
      background-color: #2e2e31;
      border-radius: 6px;
    }
  }

  .title {
    color: #fffbf1;
    user-select: none;
    position: absolute;
    top: 25vh;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .background {
    position: relative;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    span {
      position: relative;
      width: max(3.5vw, 3.5vh);
      height: max(3.5vw, 3.5vh);
      display: block;
    }
    span::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #878787;
      border-radius: 50%;
      pointer-events: none;
      transition: 2s;
      transform: scale(0.1);
    }
    span:hover::before {
      transform: scale(1);
      transition: 0s;
    }
  }
}

.button {
  --background: #2f3545;
  --text: #fff;
  --font-size: 16px;
  --duration: 0.5s;
  --move-hover: -4px;
  --shadow: 0 2px 8px -1px #{rgba(#151924, 0.32)};
  --shadow-hover: 0 4px 20px -2px #{rgba(#151924, 0.5)};
  padding: 16px 32px;
  font-weight: 500;
  line-height: var(--font-size);
  border-radius: 24px;
  display: block;
  outline: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-size: var(--font-size);
  letter-spacing: 0.5px;
  background: var(--background);
  color: var(--text);
  box-shadow: var(--shadow);
  transform: translateY(var(--y));
  transition: transform var(--duration) ease, box-shadow var(--duration) ease;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  div {
    display: flex;
    span {
      display: block;
      backface-visibility: hidden;
      font-style: normal;
      $i: 1;
      @while $i < 12 {
        &:nth-child(#{$i}) {
          --d: #{$i / 20 + s};
        }
        $i: $i + 1;
      }
    }
  }
  &:hover {
    --y: var(--move-hover);
    --shadow: var(--shadow-hover);
    --move: -4px;
    --shadow-active: 0 3px 1px rgba(0, 0, 0, 0.2);
    span {
      animation: move var(--duration) linear var(--d);
    }
  }
}

@keyframes move {
  40% {
    transform: translateY(var(--move));
    text-shadow: var(--shadow-active);
  }
}

.glitch {
  font-size: 12rem;
  font-weight: 700;
  text-transform: uppercase;

  text-shadow: 0.05em 0 0 rgba(255, 103, 104, 0.75),
    -0.025em -0.05em 0 rgba(40, 204, 117, 0.75),
    0.025em 0.05em 0 rgba(41, 142, 234, 0.75);

  animation: glitch 500ms infinite;
}

.glitch span {
  position: absolute;
  top: 0;
  left: 0;
}

.glitch span:first-child {
  animation: glitch 650ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
  transform: translate(-0.025em, -0.0125em);
  /* color: green; */
  opacity: 0.8;
}

.glitch span:last-child {
  animation: glitch 375ms infinite;
  clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
  transform: translate(0.0125em, 0.025em);
  /* color: red; */
  opacity: 0.8;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(255, 103, 104, 0.75),
      -0.05em -0.025em 0 rgba(40, 204, 117, 0.75),
      -0.025em 0.05em 0 rgba(41, 142, 234, 0.75);
  }
  14% {
    text-shadow: 0.05em 0 0 rgba(255, 103, 104, 0.75),
      -0.05em -0.025em 0 rgba(40, 204, 117, 0.75),
      -0.025em 0.05em 0 rgba(41, 142, 234, 0.75);
  }
  15% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 103, 104, 0.75),
      0.025em 0.025em 0 rgba(40, 204, 117, 0.75),
      -0.05em -0.05em 0 rgba(41, 142, 234, 0.75);
  }
  49% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 103, 104, 0.75),
      0.025em 0.025em 0 rgba(40, 204, 117, 0.75),
      -0.05em -0.05em 0 rgba(41, 142, 234, 0.75);
  }
  50% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 103, 104, 0.75),
      0.05em 0 0 rgba(40, 204, 117, 0.75), 0 -0.05em 0 rgba(41, 142, 234, 0.75);
  }
  99% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 103, 104, 0.75),
      0.05em 0 0 rgba(40, 204, 117, 0.75), 0 -0.05em 0 rgba(41, 142, 234, 0.75);
  }
  100% {
    text-shadow: -0.025em 0 0 rgba(255, 103, 104, 0.75),
      -0.025em -0.025em 0 rgba(40, 204, 117, 0.75),
      -0.025em -0.05em 0 rgba(41, 142, 234, 0.75);
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}
